.nav {
    grid-area: nav;
    position: sticky;
    left: 0;
    top: 0;
    padding: 20px;

    display: flex;
    flex-direction: column;
    z-index: 1;

    align-items: center;
}

.nav-button {
    padding: 25px;
    display: flex;
    align-items: center;
    justify-items: center;
    gap: 10px;
    color: var(--font-color);
    width: 180px;
    min-width: min-content;
    /* box-sizing: border-box; */
}

.nav-button:hover {
    background-color: var(--hover-color);
}

.nav-button-status--test {
    font-size: 12px;
    text-transform: uppercase;
    padding: 5px;
    border-radius: 8px;
    color: #CECE77;
    border: 1px solid #CECE77;
}


.nav-button-icon-container {
    width: 20px;
    height: 20px;
}

.nav-button-icon-image-container {
    position: absolute;
}

.nav-button-icon {
    width: 20px;
    height: 20px;
}

.nav-button-text--active {
    font-weight: bolder;
}

/* NOTIFICATIONS BUTTON */

.nav-button-notifications-counter {
    display: none;

    font-size: 14px;

    background-color: var(--accent-color);
    border-radius: 2px;
    border: 1px solid var(--border-color--yellow);

    color: var(--font-color);

    position: relative;
    top: -5px;
    right: -10px;

    width: 15px;
    height: 15px;
}

.nav-button-notifications-counter--active {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 900px) {
    .nav {
        background-color: var(--primary-color);
        border-top: 1px solid var(--border-color);

        position: fixed;
        top: auto;
        bottom: 0;
        left: 0;

        width: 100%;
        height: 50px;

        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        gap: 0;
        padding: 0;
    }

    .nav-button {
        padding: 0;
        gap: 0;

        display: flex;
        justify-content: center;
        align-items: center;

        height: 100%;
        width: 100%;
    }

    .nav-button:hover {
        background-color: var(--primary-color);
    }

    .nav-button:active {
        background-color: var(--primary-color);
    }

    .nav-button-text {
        display: none;
    }

    .test {
        display: none;
    }
}