.post-footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
}

.post-footer-interactions {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.post-footer-interaction-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.post-footer-interaction-container:hover {
    filter: brightness(50%);
}

.post-footer-interactions-icon {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.post-footer-interaction-count {
    font-size: 14px;
}

.post-footer-date-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
    font-family: "JetBrainsMono-Light", sans-serif;
    color: var(--font-color-light);
    font-size: 12px;
}