.post-header {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.post-shared-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
    font-size: 14px;
    color: var(--font-color-light);
    cursor: pointer;
}

.post-shared-container:hover {
    text-decoration: underline;
}

.post-header-shared-icon {
    width: 15px;
    height: 15px;
}

.post-header-sign {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.post-header-icon {
    min-width: 50px;
    min-height: 50px;
    background-color: #000;
    width: 50px;
    height: 50px;
    border: 2px solid var(--white-color);
}

.post-header-icon:hover {
    filter: brightness(50%);
}

.post-header-signature {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
}

.post-header-signature-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    gap: 5px;
}

.post-header-signature-top-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
    gap: 5px;
}

.post-header-signature-top-name {
    font-family: "JetBrainsMono-Bold", sans-serif;
    text-wrap: nowrap;
    overflow: hidden;

    display: inline-block; 
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
}

.post-header-signature-top-name:hover {
    text-decoration: underline;
}

.post-header-signature-top-role {
    font-size: 10px;
    padding: 3px 5px;
    border-radius: 8px;
    text-transform: uppercase;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.post-header-button {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 2px;
    cursor: pointer;
    padding: 5px;
    box-sizing: border-box;
}

.post-header-button:hover {
    filter: brightness(50%);
}

.post-header-button-part {
    width: 4px;
    height: 4px;
    background-color: var(--font-color);
}

.post-header-signature-bottom-username {
    font-family: "JetBrainsMono-Light", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;

    font-size: 14px;
    color: var(--font-color-light);
}