.post-body {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.post-body-content {
    font-family: "Inter-Regular", sans-serif;
    word-break: break-word;
    overflow-wrap: break-word;
}