
body {
    font-family: "JetBrainsMono-Light", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.container-post {
    color: #FFF;
    
    padding: 20px;
    border-bottom: 1px solid var(--border-color);

    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    gap: 20px;
}

.container-post:hover {
    cursor: pointer;
    background-color: var(--hover-color);
}

.container-post-header {
    display: grid;
    grid-template-columns: min-content auto min-content;
    grid-template-rows: auto;
    gap: 10px;
}

.container-post-header-picture {
    width: 50px;
    height: 50px;
    border: 1px solid #FFF;
    cursor: pointer;
    overflow: hidden;
}

.post-header-picture {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container-post-header-signature {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2px;
}

.container-post-header-signature-name_role {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 8px;
}

.container-post-header-signature-name {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    align-content: center;
}

.post-header-signature-name {
    font-weight: bold;
    cursor: pointer;
}

.post-header-signature-username {
    font-weight: lighter;
}

.container-post-header-signature-role {
    display: flex;
    justify-content: start;
    align-items: center;
}

.post-header-signature-role {
    font-size: 12px;
    text-transform: uppercase;
    padding: 5px;
    border-radius: 8px;
}

.post-header-signature-role--member {
    color: #64C2D8;
    border: 1px solid #64C2D8;
}

.post-header-signature-role--tester {
    color: #CECE77;
    border: 1px solid #CECE77;
}

.post-header-signature-role--mod {
    color: #D166D3;
    border: 1px solid #D166D3;
}

.post-header-signature-role--admin {
    color: var(--accent-color);
    border: 1px solid var(--accent-color);;
}

.post-header-button {
    border: none;
    outline: none;
    background-color: inherit;
    color: #FFF;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-items: center;
    gap: 2px;
    padding: 5px;
}

.post-header-button-box {
    width: 4px;
    height: 4px;
    background-color: #FFF;
}

.container-post-body {
    display: grid;
    grid-template-columns: auto;
    grid-row-start: auto auto;
    gap: 10px;
}

.post-body-content {
    font-family: "Inter-Regular", sans-serif;
    word-break: break-word;
    overflow-wrap: break-word;
}

.post-body-image {
    max-width: 400px;
    max-height: 600px;
    border: 1px solid gray;
}

.container-post-footer {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    gap: 5px;
    padding-top: 10px;
}

.container-post-footer-date {
    display: flex;
    justify-content: end;
    align-items: center;
}

.post-footer-date {
    font-size: 12px
}

.container-post-footer-interactions {
    display: flex;
    align-items: center;
    gap: 25px;
    font-size: 20px;
}

.container-post-footer-interactions-comments {
    display: flex;
    align-items: center;
    gap: 5px;
}


.container-post-footer-interactions-upvote {
    display: flex;
    align-items: center;
    gap: 5px;
}

.post-footer-interactions-icon {
    cursor: pointer;
}

@media (max-width: 768px) {
    .post-body-image {
        max-width: 100%;
    }
}