.post {
    display: flex;
    flex-direction: column;
    gap: 20px;

    padding: 20px;

    color: var(--font-color);

    font-family: "JetBrainsMono-Regular", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    cursor: pointer;

    -webkit-tap-highlight-color: transparent; 
    outline: none;

    border-bottom: 1px solid var(--border-color);
}

.post:hover {
    background-color: var(--hover-color);
}

@media (max-width: 900px) {
    .post:hover {
        /* cursor: none; */
        background-color: initial;
        /* pointer-events: none; */
    }
}