.post {
    display: flex;
    flex-direction: column;
    gap: 20px;

    padding: 20px;

    color: var(--font-color);

    font-family: "JetBrainsMono-Regular", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    cursor: pointer;

    -webkit-tap-highlight-color: transparent; 
    outline: none; 
}

.post:hover {
    background-color: var(--hover-color);
}

.post-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.post-header-icon {
    width: 50px;
    height: 50px;

    border: 2px solid var(--white-color);
}

.post-header-icon:hover {
    filter: brightness(50%);
}

.post-header-signature {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
}

.post-header-signature-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    gap: 5px;
}

.post-header-signature-top-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
    gap: 5px;
}

.post-header-signature-top-name {
    font-family: "JetBrainsMono-Bold", sans-serif;
    text-wrap: nowrap;
    overflow: hidden;

    display: inline-block; 
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
}

.post-header-signature-top-name:hover {
    text-decoration: underline;
}

.post-header-signature-top-role {
    font-size: 10px;
    padding: 3px 5px;
    border-radius: 8px;
    text-transform: uppercase;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.role--member {
    color: var(--role-member-color);
    border: 1px solid var(--role-member-color);
}

.role--tester {
    color: var(--role-tester-color);
    border: 1px solid var(--role-tester-color);
}

.role--mod {
    color: var(--role-mod-color);
    border: 1px solid var(--role-mod-color);
}

.role--admin {
    color: var(--role-admin-color);
    border: 1px solid var(--role-admin-color);
}

.post-header-button {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 2px;
    cursor: pointer;
    padding: 5px;
    box-sizing: border-box;
}

.post-header-button:hover {
    filter: brightness(50%);
}

.post-header-button-part {
    width: 4px;
    height: 4px;
    background-color: var(--font-color);
}

.post-header-signature-bottom-username {
    font-family: "JetBrainsMono-Light", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;

    font-size: 14px;
    color: var(--font-color-light);
}

.post-body {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.post-body-content {
    font-family: "Inter-Regular", sans-serif;
    word-break: break-word;
    overflow-wrap: break-word;
}

.post-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.post-footer-interactions {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.post-footer-interaction-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.post-footer-interaction-container:hover {
    filter: brightness(50%);
}

.post-footer-interactions-icon {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.post-footer-interaction-count {
    font-size: 14px;
}

.post-footer-date-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    gap: 5px;
    font-family: "JetBrainsMono-Light", sans-serif;
    color: var(--font-color-light);
    font-size: 12px;
}