.spotify-popup-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    z-index: 1;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--background-color-transparent);
}

.spotify-popup {
    box-sizing: border-box;
    padding: 20px;
    background-color: var(--primary-color);
}

.spotify-popup-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.spotify-popup-input {
    border: 2px solid var(--font-color);
}

.spotify-popup-buttons {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.spotify-popup-button {
    cursor: pointer;
    background-color: none;
    border: none;
    outline: none;
    padding: 0;
    margin: 0;

    box-sizing: border-box;
    background-color: var(--font-color);
    color: var(--primary-color);
    text-transform: uppercase;
    padding: 6px 12px;
    font-weight: bolder;
    width: 100%;
}

.spotify-popup-button:hover {
    background-color: var(--font-color-light);
}

@media (max-width: 900px) {
    .spotify-popup {
        width: 100%;
    }
}