.messages-view {
    width: 100%;
    height: 100%;
    box-sizing: border-box;

    overflow-y: scroll;
    display: grid;
    grid-template-columns: 1fr 700px 1fr;
    grid-template-rows: auto;
    grid-template-areas: "nav main aside";
}

.messages-main {
    grid-area: main;
    border-right: 1px solid var(--border-color);
    border-left: 1px solid var(--border-color);

    display: flex;
    flex-direction: column;
}

.chats-start-chat-button {
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    cursor: pointer;
    border-bottom: 1px solid var(--border-color);
    transition: .2s ease all;
}

.chats-start-chat-button:hover {
    background-color: var(--hover-color);
}

.chats-member-chats {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

.chats-member-chat {
    display: flex;
    gap: 10px;
    cursor: pointer;
}

.chats-member-chat:hover {
    background-color: var(--hover-color);
}

.chats-member-chat-icon {
    width: 50px;
    height: 50px;
    border: 2px solid var(--font-color);
}

.chats-member-chat-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.chats-member-chat-username {
    font-family: var(--font-jetbrains-bold);
    color: var(--font-color);
}

.chats-member-chat-last-message {
    font-family: var(--font-inter-light);
    color: var(--font-color-light);
    white-space: nowrap;       
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 600px;
}

.chats-warning-container {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid var(--border-color);
    gap: 10px;
}

.chats-warning-badge {
    font-family: var(--font-jetbrains-bold);
    color: var(--font-color);
    font-size: 10px;
    border-radius: 10px;
    padding: 5px 8px;
    background-color: #9fa800;
}

@media (max-width: 900px) {
    .messages-view {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 50px;
        grid-template-areas: "main" "nav";
    }

    .messages-main {
        border: none;
    }

    .button-messages-role {
        display: none;
    }

    .chats-member-chat-last-message {
        max-width: 250px;
    }
}