.container-home-view {
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns: min-content 1fr 250px;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
        "nav main aside"
        "nav main aside"
        "nav main aside";
}

.container-home-view .container-main {
    grid-area: main;
    width: 100%;
    height: 100%;
    border-left: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
    overflow-y: scroll;
    overflow-x: hidden;
}

.container-button-refresh {
    background-color: var(--primary-color);
    color: #FFF;
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid var(--border-color);

    display: flex;
    justify-content: center;
    align-items: center;
}

.container-button-refresh button {
    padding: 10px;
    background-color: var(--primary-color);
    border: 1px solid #FFF;
    color: #FFF;
    cursor: pointer;
}

.container-button-refresh button:active {
    background-color: var(--border-color);
}

.container-button-refresh i {
    display: none;
}

.container-button-change-timeline {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    height: 30px;
}

.button-change-timeline {
    border: none;
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
    background-color: var(--primary-color);
    color: #FFF;
    cursor: pointer;
}

.button-change-timeline:active {
    background-color: gray;
} 

.button-change-timeline.active {
    border-bottom: 1px solid #FFF;
}

.container-input-image-url {
    width: 400px;
    height: 200px;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* HOME MOBILE BUTTON CREATE POST   */

.container-home-mobile-button {
    position: fixed;
    left: 20px; 
    bottom: 20px;
    background-color: var(--primary-color);
    border: 1px solid #FFF;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    color: #FFF;
    font-size: 20px;
    cursor: pointer;

    display: none;
    justify-content: center;
    align-items: center;
}

.container-home-mobile-button:active {
    background-color: gray;
}


/* FORM CREATE POST */

.container-home-main-form-post-create {
    padding: 20px 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

.container-home-main-form-post-create-div {
    display: grid;
    grid-template-columns: min-content auto;
    grid-template-rows: auto;
    gap: 10px;
    padding: 20px;
}

.container-home-main-form-post-create-profile_pic {
    width: 50px;
    height: 50px;
    border: 1px solid #FFF;
}

.home-main-form-post-create-profile_pic {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container-home-main-form-post-create-body {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}

.container-home-main-form-post-create-signature {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 5px;
}
.home-main-form-post-create-name {
    font-family: JetBrainsMono-Bold;
}

.home-main-form-post-create-textarea {
    padding: 10px;
    height: 60px;
    resize: none;
    border: 1px solid #FFF;
    outline: none;
    font-family: "Inter-Regular", sans-serif;
}

.container-home-main-form-post-create-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home-main-form-post-create-button {
    padding: none;
    margin: none;
    height: 30px;
    width: 140px;
    background-color: var(--primary-color);
    color: #FFF;
    border: none;
    outline: none;
    border: 1px solid #FFF;
    cursor: pointer;
}

.home-main-form-post-create-button:hover {
    background-color: var(--accent-color);
}

.home-main-form-post-create-button-options {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    background-image: url("/public/assets/icon-select.png");
    background-repeat: no-repeat;
    background-position-x: 85px;
    background-position-y: 7px;
    padding-left: 35px;
}


.home-main-form-post-create-button-options option {
    background-color: var(--primary-color);
    border-radius: 0;
    border: none;
    outline: none;
}

.container-home-main-form-post-create-options {
    display: flex;
    gap: 10px;
}


.home-main-form-post-create-button-media {
    width: 28px;
    height: 28px;
    cursor: pointer;
    border: 1px solid #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}

.home-main-form-post-create-button-media:hover {
    background-color: var(--accent-color);
}

.home-tenor-gif {
    width: 100px; 
    height: 100px; 
    cursor:pointer;
}

.home-tenor-gif:hover {
    border: 3px solid var(--accent-color);
}

@media (max-width: 1024px) {
    .home-main-form-post-create-button {
        width: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .home-main-form-post-create-button-options {
        padding-left: 15px;
        background-position-x: 70px;
    }
}

@media (max-width: 900px) {
    .container-home-view {
        grid-template-areas: 
            "main main main"
            "main main main"
            "main main main";
    }

    .container-home-view .container-main {
        padding-top: 50px;
        padding-bottom: 50px;

        border:none;
    }

    .container-button-change-timeline {
        padding: 0;
        width: 100%;
        height: 50px;
        position: fixed;
        top: 0;
        left: 0;
    }
    .container-button-change-timeline button {
        background-color: var(--primary-color);
        border: none;
        border-bottom: 1px solid gray;
    }

    .container-button-change-timeline button.active {
        border-bottom: 1px solid #FFF;
    }

    .container-mobile-button-post-create {
        display: initial;
        position: fixed;
        bottom: 55px;
        right: 5px;

        width: 50px;
        height: 50px;
    }

    .container-input-image-url {
        width: 200px;
    }

    .container-home-mobile-button {
        position: fixed;
        left: initial;
        bottom: 70px;
        right: 20px;
        display: flex;
    }

    .container-home-main-form-post-create-div {
        display: none;
    }
}