:root {
    --primary-color: #1A1A1A;
    --primary-color2: #111921;
    --primary-color--transparent: rgba(26, 26, 26, 0.8);
    --hover-color: #2A2A2A;
    --hover-color--bolder: #1b1b1b;
    --border-color: #4b5c6d;
    --border-color--active: #FFFBDF;
    --white-color: #FFFBDF;
    --accent-color: #04D458;
    --error-color: #d40404;

    --role-member-color: #64C2D8;
    --role-tester-color: #CECE77;
    --role-mod-color: #9C65D6;
    --role-admin-color: #04D458;

    --font-color: #FFFBDF;
    --font-color-light: #B5B5B5;

    --border-color--yellow: #FFFBDF;

    --background-color: rgba(68, 78, 88, 0.604);

    --secondary-color: #2ecc71;
    --text-color: #2c3e50;
}

@font-face {
    font-family: 'JetBrainsMono-Regular';
    src: url('/public/fonts/JetBrainsMono_Complete/JetBrainsMono-Regular.otf') format('truetype');
}

@font-face {
    font-family: 'JetBrainsMono-Light';
    src: url('/public/fonts/JetBrainsMono_Complete/JetBrainsMono-Light.otf') format('truetype');
}

@font-face {
    font-family: 'JetBrainsMono-Bold';
    src: url('/public/fonts/JetBrainsMono_Complete/JetBrainsMono-Bold.otf') format('truetype');
}

@font-face {
    font-family: 'Inter-Regular';
    src: url('/public/fonts/Inter/Inter-Regular.ttf');
}

@font-face {
    font-family: 'Inter-Light';
    src: url('/public/fonts/Inter/Inter-Light.ttf');
}

@font-face {
    font-family: 'Inter-Bold';
    src: url('/public/fonts/Inter/Inter-Bold.ttf');
}