/* BASICOS */
::-webkit-scrollbar {
    width: 12px;
}

/* FONDO */
::-webkit-scrollbar-track {
    /* background: gray;  */
    background-color: var(--border-color);
}

/* ESTILO BARRITA */
::-webkit-scrollbar-thumb {
    /* background: #bbbbbb; */
    /* border-radius: 6px; */
    border: 1px solid var(--border-color);
    background-color: var(--primary-color);
    /* cursor: pointer; */
}

/* HOVER SOBRE LA BARRA */
::-webkit-scrollbar-thumb:hover {
    /* background: #555;  */
    background-color: var(--hover-color);
}

/* FIREFOX */
/* html {
    scrollbar-width: thin;
    scrollbar-color: #FFF gray;
} */

@media (max-width: 900px) {
    ::-webkit-scrollbar {
        display: none;
    }
}