.chat {
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    cursor: pointer;
    transition: 0.2s ease all;
    border-bottom: 1px solid var(--border-color);
}

.chat:hover {
    background-color: var(--hover-color);
}