.container-alert {
    position: fixed;
    box-sizing: border-box;
    top: 20px;
    left: 50%;
    transform: translate(-50%, 0);
    padding: 10px;
    text-align: center;
    /* border-radius: 10px; */
    background-color: var(--primary-color);
    /* max-width: 100%; */
    word-wrap: break-word;
    overflow-wrap: break-word;
    z-index: 1000;
    cursor: pointer;
}

.container-alert--success {
    border: 2px solid var(--accent-color);
}

.container-alert--error {
    border: 2px solid var(--error-color);
}
/* 
@media (max-width: 900px) {
    .container-alert {
        top: 20px;
        bottom: unset;
    }
} */