.input-container {
    border: 2px solid #FFF;

    display: grid;
    grid-template-columns: 1fr min-content;
    grid-template-rows: auto auto;
    grid-template-areas: 
        "title title"
        "input length";
    gap: 10px;
    padding: 8px;
    cursor: text;
}

.input-container--active {
    border: 2px solid var(--accent-color);
}

.input-container--invalid {
    border: 2px solid #ff0000;
}

.input-title {
    grid-area: title;
    font-size: 14px;
    color: #9F9F9D;
}

.input-input {
    grid-area: input;
    border: none;
    padding: 0;
    min-width: none;
    width: 100%;
}

.input-length {
    grid-area: length;
}