.reset-password-view {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.reset-password-main {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.reset-password-form {
    max-width: 512px;

    display: flex;
    flex-direction: column;
    gap: 20px;
}

.reset-password-button-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.reset-password-button {
    border: none;
    outline: none;
    box-sizing: border-box;

    border: 2px solid var(--font-color);
    padding: 10px 15px;
    cursor: pointer;
    background-color: var(--primary-color);
    color: var(--font-color);
}

.reset-password-button:hover {
    background-color: var(--hover-color);
}