.notification {
    box-sizing: border-box;
    background-color: var(--primary-color);
    padding: 20px;

    display: flex;
    flex-direction: column;
    gap: 20px;

    cursor: pointer;
    color: var(--font-color);
}

.notification-post {
    padding: 0;
}

.notification:hover {
    background-color: var(--hover-color);
}

.notification-pending {
    background-color: rgb(21, 49, 64);
}

.notification-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.notification-icon {
    width: 30px;
    height: 30px;
    border: 2px solid var(--font-color);
}

.notification-name {
    font-family: JetBrainsMono-Bold;
}

.notification-body {
    color: var(--font-color-light);
    word-break: break-all;
}