.captcha-badge {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
    box-sizing: border-box;
}

.captcha-badge-img {
    width: 50px;
    height: 50px;
    padding: 5px;
    background-color: #FFF;
    border-radius: 5px;
    box-sizing: border-box;
}

.captcha-badge-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-size: 14px;
}

.captcha-badge-text {
    display: flex;
    align-items: center;
    justify-content: center;
}

.captcha-badge-terms {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
}