.member-view {
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns: 1fr 700px 1fr;
    grid-template-rows: auto;
    grid-template-areas: "nav main aside";

    overflow-y: scroll;
}

.member-main {
    box-sizing: border-box;
    grid-area: main;

    border-right: 1px solid var(--border-color);
    border-left: 1px solid var(--border-color);
    display: flex;
    flex-direction: column;
}

@media (max-width: 900px) {
    .member-view {
        display: flex;
        flex-direction: column;
    }

    .member-main {
        border: none;
        padding-bottom: 50px;
        display: flex;
        flex-direction: column;
    }
}