.profile-container {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid var(--border-color);
}

.profile-top-container {
    width: 100%;
    aspect-ratio: 3 / 1;
    background-size: cover;
    background-position: center;
    background-color: var(--border-color);
    border-bottom: 1px solid var(--border-color);
}

.profile-bottom-container {
    padding: 25px;
    gap: 25px;

    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: min-content min-content min-content min-content;
    grid-template-areas: 
        "icon signature button"
        "icon bio none"
        "icon extra extra"
        "icon follow follow";
}

.profile-icon-container {
    grid-area: icon;
    width: 200px;
    height: 200px;
    border: 1px solid #FFF;
    background-color: var(--primary-color);
    position: relative;
    bottom: 100px;
}

.profile-icon {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width: 1280px) {
    .profile-bottom-container {
        padding: 20px;
        gap: 20px;
        grid-template-columns: min-content auto;
        grid-template-rows: 40px min-content min-content min-content min-content;
        grid-template-areas: 
            "icon button"
            "signature signature"
            "bio bio"
            "extra extra"
            "follow follow";
    }

    .profile-icon-container {
        width: 100px;
        height: 100px;
        position: relative;
        bottom: 60px;
    }
}

.profile-signature-container {
    grid-area: signature;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

.profile-name {
    color: #FFFBDF;
    font-size: 20px;
    font-family: "JetBrainsMono-Bold", sans-serif;
}

.profile-username {
    color: #B5B5B5;
    font-size: 16px;
    font-family: "JetBrainsMono-Regular", sans-serif;
}

.profile-button {
    grid-area: button;
    border: none;
    outline: none;
    text-align: center;
    background-color: var(--primary-color);
    cursor: pointer;
    padding: 10px 25px;
    align-self: center;
    justify-self: end;
    white-space: nowrap;
}

.profile-button--other {
    border: 1px solid #04D458;
    color: #04D458;
}

.profile-button--self {
    border: 1px solid #FFFBDF;
    color: #FFFBDF;
}

.profile-button:hover {
    background-color: var(--hover-color);
}

@media (max-width: 900px) {
    .profile-button {
        font-size: 14px;
        padding: 8px 12px;
    }
}

.profile-bio {
    grid-area: bio;
    color: #FFFBDF;
    font-size: 16px;
    font-family: "JetBrainsMono-Regular", sans-serif;
    align-self: center;
    justify-self: start;
}

.profile-extra-container {
    grid-area: extra;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 30px;
}

@media (max-width: 380px) {
    .profile-extra-container {
        flex-direction: column;
        align-items: start;
        gap: 20px;
    }
}

.profile-location-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
}

.profile-extra-icon {
    width: 20px;
    height: 20px;
}

.profile-location-info {
    color: #04D458;
}

.profile-url-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
}

.profile-url-info {
    color: #296DFF;
}

.profile-follow-container {
    grid-area: follow;

    display: flex;
    flex-direction: row;
    gap: 20px;
}

.profile-followed-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
}

.profile-followed-container:hover {
    text-decoration: underline;
}

.profile-followed-number {
    color: #FFFBDF;
}

.profile-followed-text {
    color: #B5B5B5;
}

.profile-followers-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
}

.profile-followers-container:hover {
    text-decoration: underline;
}

.profile-followers-text {
    color: #B5B5B5;
}

.profile-followers-number {
    color: #FFFBDF;
}