.explore-main {
    grid-area: main;
    border-right: 1px solid var(--border-color);
    border-left: 1px solid var(--border-color);
}

.explore-search {
    box-sizing: border-box;
    padding: 20px;
    border-bottom: 1px solid var(--border-color);
}

@media (max-width: 900px) {
    .explore-main {
        border: none;
        padding-bottom: 50px;
    }
}