.textarea-container {
    border: 2px solid #FFF;

    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 8px;

    cursor: text;
}

.textarea-container--active {
    border: 2px solid var(--accent-color);
}

.textarea-container--invalid {
    border: 2px solid #ff0000;
}

.textarea-title {
    grid-area: title;
    font-size: 14px;
    color: #9F9F9D;
}

.textarea {
    grid-area: textarea;
    border: none;
    outline: none;
    resize: none;
    width: 100%;
    min-height: 20px;
    line-height: 20px;
    padding: 0;
    font-size: 16px;
    box-sizing: border-box;

    font-family: "Inter-Regular", sans-serif;
}

.textarea--expand {
    height: auto;
}

.textarea-length {
    grid-area: length;
    align-self: end;
}