.member-role {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 2px 4px;
    font-size: 10px;
    text-transform: uppercase;
    font-weight: lighter;
    font-family: 'JetBrainsMono-Light';
    text-align: center;
}

.member-role-member {
    color: var(--role-member-color);
    border: 1px solid var(--role-member-color);
}

.member-role-tester {
    color: var(--role-tester-color);
    border: 1px solid var(--role-tester-color);
}

.member-role-mod {
    color: var(--role-mod-color);
    border: 1px solid var(--role-mod-color);
}

.member-role-admin {
    color: var(--role-admin-color);
    border: 1px solid var(--role-admin-color);
}