.banner-input-container {
    position: relative;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-color: var(--primary-color);

    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-input-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(52, 52, 52, 0.741);
    z-index: 1;
}

.banner-input-buttons-container {
    position: relative;
    z-index: 2;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.banner-input-button {
    cursor: pointer;
    background-color: #0000003e;
    width: 55px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
}