.notifications-view {
    display: grid;
    grid-template-columns: 1fr 700px 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
        "nav main aside"
        "nav main aside"
        "nav main aside";
    height: 100%;
}

.notifications-main {
    grid-area: main;
    overflow-y: scroll;

    border-right: 1px solid var(--border-color);
    border-left: 1px solid var(--border-color);
}

.container-notifications {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

@media (max-width: 900px) {
    .notifications-view {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 50px;
        grid-template-areas: 
            "main main main"
            "main main main"
            "nav nav nav";
    }

    .notifications-main {
        border: none;
    }

    .container-notifications {
        border: none;
    }
}