.container-view-notifications {
    display: grid;
    grid-template-columns: 1fr 700px 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
        "nav main aside"
        "nav main aside"
        "nav main aside";
    height: 100%;
}

.notifications-view-main {
    grid-area: main;
    overflow-y: scroll;

    border-right: 1px solid var(--border-color);
    border-left: 1px solid var(--border-color);
}

.notifications-main-header {
    display: flex;
    position: sticky;
    top: 0;
    width: 100%;
    cursor: pointer;
    min-height: 50px;
    background-color: var(--primary-color--transparent);
    color: #FFF;
    border-bottom: 1px solid var(--border-color);
    z-index: 1;

    justify-content: center;
    align-items: center;
}

.container-notifications {
    display: flex;
    flex-direction: column;

    min-height: 100%;
}

@media (max-width: 900px) {
    .container-view-notifications {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 50px;
        grid-template-areas: 
            "main main main"
            "main main main"
            "nav nav nav";
    }

    .notifications-view-main {
        padding-bottom: 50px;
    }

    .container-notifications {
        border: none;
    }
}