.container-view {
    grid-template-columns: min-content 1fr 250px;
}


.notifications-view-main {
    grid-area: main;
    overflow-y: scroll;
}

.container-notifications {
    display: flex;
    flex-direction: column;

    border-right: 1px solid var(--border-color);
    border-left: 1px solid var(--border-color);

    min-height: 100%;
}

@media (max-width: 900px) {
    .container-view-notifications {
        display: flex;
    }

    .notifications-view-main {
        padding-bottom: 50px;
    }

    .container-notifications {
        border: none;
    }
}