.post-creator-container {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-areas: 
        "icon editor";

    gap: 10px;
    padding: 10px;
}

.post-creator-icon-container {
    grid-area: icon;
}

.post-creator-icon {
    width: 50px;
    height: 50px;
    border: 2px solid var(--white-color);

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.post-creator-editor {
    grid-area: editor;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    gap: 10px;
}

.post-creator-buttons-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post-creator-editor-buttons-container {
    display: flex;
    gap: 10px;
}

.post-creator-button {
    border: none;
    outline: none;
    box-sizing: border-box;

    font-size: 14px;
    padding: 6px;
    border: 1px solid var(--font-color);
    background-color: var(--primary-color);
    color: var(--font-color);
    cursor: pointer;
}

.post-creator-button-post {
    padding: 6px 10px;
}

.post-creator-button:hover {
    background-color: var(--hover-color);
}

.post-creator-post-button-container {
    display: flex;
    gap: 10px;
}

.post-creator-editor-images-container {
    display: none;
}