.form-signup {
    display: flex;
    flex-direction: column;
    gap: 30px;
    box-sizing: border-box;
    padding: 10px;
}

@media (max-width: 900px) {
    .form-signup {
        width: 100%;
    }
}

.form-signup-title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.form-signup-subtitle-container {
    display: flex;
    flex-direction: row;
    gap: 10px;

    font-size: 14px;
}

.form-signup__details {
    font-size: 12px;
    color: var(--font-color-light);
    font-weight: 400;
}

.form-signup-label-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-signup-button-container--single {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-signup-button-container--pair {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.signup-button {
    padding: 10px 15px;
    color: var(--font-color);
    background-color: var(--primary-color);
    outline: none;
    cursor: pointer;
    border: none;
    border: 2px solid var(--font-color);
}

.signup-button:hover {
    background-color: var(--hover-color);
}

.form-signup-captcha-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.form-signup-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.form-signup-message-container {
    max-width: 900px;

    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-signup-usedemail-container {
    display: flex;
    justify-content: center;
    align-items: center;
}