.quote {
    display: flex;
    flex-direction: column;
    gap: 10px;

    border: 1px solid var(--font-color);
    /* border-radius: 10px; */
    padding: 10px;
    box-sizing: border-box;

    background-color: var(--primary-color--bolder);

    font-size: 14px;
}

.quote:hover {
    /* filter: brightness(50%); */
    background-color: var(--hover-color);
}

.quote-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.quote-icon {
    width: 25px;
    height: 25px;
    border: 1px solid var(--font-color);
}

.quote-name {
    display: inline-block; 
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
}

.quote-username {
    font-family: "JetBrainsMono-Light", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;

    font-size: 14px;
    color: var(--font-color-light);
}

.quote-body {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.quote-media {
    max-width: 200px;
    /* border: 1px solid var(--font-color); */
}

@media (max-width: 900px) {
    .quote-media {
        max-width: 100px;
    }
}

.quote-media--alone {
    width: 100%;
    max-width: 100%;
}

.quote-content {
    font-family: "Inter-Regular", sans-serif;
    word-break: break-word;
    overflow-wrap: break-word;
}