.signin {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.signin-main {
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;

    display: flex;
    justify-content: center;
    align-items: center;
}

.signin-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.signin-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.signin-details {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    font-size: 12px;
}

.signin-text {
    color: var(--font-color-light);
}

.signin-container-button {
    flex-direction: row;
    justify-content: flex-end;
}

.signin-button {
    border: none;
    outline: none;
    box-sizing: border-box;

    background-color: var(--primary-color);
    color: var(--font-color);
    cursor: pointer;

    border: 2px solid var(--font-color);
    padding: 10px 15px;
}

.signin-button:hover {
    background-color: var(--hover-color);
}