.tenor-selector-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #00000094;

    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.tenor-selector {
    background-color: var(--primary-color);
    /* border: 1px solid #FFF; */

    display: flex;
    flex-direction: column;

    width: 700px;
    height: 500px;
    max-height: 700px;
    z-index: 1;
    padding: 10px;
    gap: 10px;
}

.tenor-selector-input-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 10px;
}

.tenor-selector-input {
    width: 100%;
}

.tenor-selector-cancel-button {
    border: 2px solid #FFF;
    font-size: 24px;
}

.tenor-selector-results-container {
    border: 1px solid #FFF;
    width: 100%;
    height: 100%;

    display: flex;
    flex-wrap: wrap;
    gap: 1px;

    /* display: grid;
    grid-template-columns: auto auto auto;
    gap: 1px; */

    overflow-y: auto;
}

.tenor-selector-results-container--empty {
    justify-content: center;
    align-items: center;
}

.tenor-selector-results-container--content {
    justify-content: flex-start;
    align-items: flex-start;
}

.tenor-selector-result {
    min-width: 100px;
    min-height: 100px;
    max-width: 200px;
    max-height: 200px;

    /* height: auto;
    width: 100%;
    object-fit: cover; */

    cursor: pointer;
}

@media (max-width: 900px) {
    .tenor-selector-container {
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
    }
}