.form_update_username-container {
    padding: 20px;
    border-bottom: 1px solid var(--border-color);
}

.form_update_name-input_container {
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.form_update_name-input {
    width: 100%;
}