.form_update_name-container {
    padding: 20px;
    border-bottom: 1px solid var(--border-color);
}

.form_update_name-input_container {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.form_update_name-input {
    width: 100%;
}

.form_update_name-button {
    width: 100%;
    cursor: pointer;
    border: none;
    outline: none;
    text-align: center;

    background-color: var(--primary-color);
    color: #FFF;
    border: 1px solid #FFF;
}

.form_update_name-button:hover {
    background-color: var(--hover-color);
}