.form_update_password-container {
    padding: 20px;

    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form_update_password-button {
    border: none;
    outline: none;
    text-align: center;

    background-color: var(--primary-color);
    border: 1px solid #FFF;
    color: #FFF;
    padding: 10px;
    cursor: pointer;
}

.form_update_password-button:hover {
    background-color: var(--hover-color);
}